<!-- Calendar goes here -->
<div>
  <h2 class="mast-title">MasTERPiece Calendar</h2>
  <div class="mast-title">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=hd6cditpgq3npgslh8mpar7e60%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FNew_York" style="border-width:0" width="700" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
</div>