<body>
  <header>
    <div class="group-pic">
      <div class="caption">
        <span class="border"><%= link_to "CONTACT US",'#' %></span>
      </div>
    </div>
  </header>
  <div class="about">
    <h3>About</h3>
      <p>
        Ugh fixie la croix selvage chartreuse unicorn. Synth selfies mumblecore gentrify, mixtape bitters shoreditch umami tilde 8-bit yuccie fam. Shoreditch crucifix squid thundercats semiotics, meh 90's blue bottle coloring book edison bulb cold-pressed four loko health goth kitsch. Synth vice prism, raw denim leggings live-edge bespoke pok pok poutine quinoa church-key. Scenester echo park umami, offal adaptogen farm-to-table photo booth gochujang typewriter activated charcoal bicycle rights tumblr kickstarter. La croix mixtape hoodie selfies. Poke tote bag franzen dreamcatcher four loko, shoreditch swag chicharrones fanny pack.
      </p>
      <input id="toggle" type="checkbox" checked />
      <label for="toggle">EBoard</label>
      <div id="expand">
        <section>
          people
        </section>
      </div>
  </div>

  <div class="blog-div">
    <div class="blog">
      <span><%= link_to "Check out our blog!!",'#', :style => 'color: #fff;', :class => "blog"%></span>
    </div>
  </div>

  <!--<a href="">
    <div class="blog">
      <h3>Check out our blog!!</h3>
    </div>
  </a>-->
  <div class="ig-feed">
    <!-- LightWidget WIDGET -->
    <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/a97cb49802385f76a8220d15a57a3e12.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  </div>
</body>
