<body>
  <header>
    <div class="group-pic">
      <div class="caption">
        <button class="border btn btn-default btn-outline btn-circle"><%= link_to "CONTACT US", new_contact_path %></button>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="about container ">
      <div class="sec-about">
        <h3 class="label-about">About</h3>
          <p>
            Ugh fixie la croix selvage chartreuse unicorn. Synth selfies mumblecore gentrify, mixtape bitters shoreditch umami tilde 8-bit yuccie fam. Shoreditch crucifix squid thundercats semiotics, meh 90's blue bottle coloring book edison bulb cold-pressed four loko health goth kitsch. Synth vice prism, raw denim leggings live-edge bespoke pok pok poutine quinoa church-key. Scenester echo park umami, offal adaptogen farm-to-table photo booth gochujang typewriter activated charcoal bicycle rights tumblr kickstarter. La croix mixtape hoodie selfies. Poke tote bag franzen dreamcatcher four loko, shoreditch swag chicharrones fanny pack.
          </p>
        <h3 class="label-eboard">EBoard</h3>
        <section>
          people
        </section>
      </div>
    </div>
  </div>

  <div class="blog-div">
    <div class="blog">
      <span><%= link_to "Check out our blog!!", posts_path, :style => 'color: #fff;' %></span>
    </div>
  </div>

  <!--<a href="">
    <div class="blog">
      <h3>Check out our blog!!</h3>
    </div>
  </a>-->
  <div class="ig-feed">
    <!-- LightWidget WIDGET -->
    <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/a97cb49802385f76a8220d15a57a3e12.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  </div>
</body>
