.logo {
  border-radius: 100%;
  border: 2px solid white;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.4s;
  transform: scale(1);
}

.logo:hover {
  transform: scale(1.5);
}

.footer-logo li {
  padding-top: 25px;
  display: inline-block;
  text-align: center;
}

#navbar-primary .navbar-nav { 
  //  background: #ededed;
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}