<tr>
    <td><%= @post.title %></td>
    <td></td>
  
    <td><%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %></td>
    <td><%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %></td>
</tr>