<div class="blog-header">
  <div class="caption"></div>
</div>
<div class="col-md-6 col-md-offset-3">
  
  <% @post.each do |post| %>

  <div class="row post">
      <div class="col-sm-6 col-md-6">
          <%= link_to post do %>
            <div class="card-topper" style='background-image: url(<%= post.banner_image_url %>);'></div>
          <% end %>
          <h2 class="post-title"><%= link_to post.title, post %></h2>
          <p><%= post.descritption %></p>
      </div>
  </div>
    
</div>
