<div class="container">
  <div class="row">
    <div class="col-md-1 col-lg-2"> 
    </div>
    <div class="col-md-10 col-lg-8 text-xs-center">
      <h1><%= @post.title %></h1>
      <%= @post.body.html_safe %>
    </div>
    <%= render "layouts/disqus" %>
  </div>
</div>