.blog-header {
  width: 100%;
  background: image-url("white.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  color: #fff;
  height: 550px;
  margin: 0;
  padding: 200px 0;
}

.jumbotron{background-color: transparent;}

#div-pagination{clear: both;}

.carousel {padding-bottom: 25px}
.carousel img{padding-top: 20px;}
.carousel h2 {color: #0072b5;}
.carousel h2 small{color: #289bde}
.carousel col-lg-4 p {text-align: center;}
